/********** General styles **********/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	--clr-color: hsl(35, 96%, 43%);
	--clr-light: hsla(0, 0%, 100%, 0.849);
	--clr-dark: hsl(0, 0%, 13%);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 270px;
	max-width: 100%;
	margin: 0;
	font: 400 1.6rem/1.6 "Open Sans", sans-serif;
	text-align: left;
	color: var(--clr-dark);
	background: var(--clr-light);
}

main {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

/* General typography */

h1 {
	font: 700 2.6rem/1.6 "Open Sans", sans-serif;
	text-align: center;
	margin-top: 15px;
	transition: font ease-in-out .5s;
}

h2 {
	font: 700 1.6rem/1.6 "Open Sans", sans-serif;
}

p {
	margin: 0 0 16px;
}

.text-large {
	font: 700 2.6rem/1.6 "Open Sans", sans-serif;
	text-align: center;
}

/* General links */

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	outline: 0;
	color: inherit;
}

a:hover,
a:active {
	color: #757575;
}

/* Other */

.hide {
	display: none;
}

/********** Menu **********/

#menu {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 5%;
	color: var(--clr-light);
	background: var(--clr-dark);
}

#menu nav ul li {
	display: inline;
	margin: 0 16px 0 0;
}

/* Menu links */

#menu nav ul li a {
	font: 400 2.6rem/1.6 "Open Sans", sans-serif;
	text-decoration: none;
}

.menu-link:hover,
.menu-link:active,
.menu-link_active {
	color: var(--clr-color);
}